header img {
	width: 200px;
	height: auto;
	margin: 10px;
}

main {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

main img {
	width: 300px;
	height: auto;
	margin: 20px;
}
